In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

In [3]:
driver=webdriver.Chrome()
driver

In [4]:
driver.get('https://quotes.toscrape.com/')

In [5]:
info_list=[]

In [20]:
author_names = driver.find_elements(By.CLASS_NAME, 'author')
author_quotes = driver.find_elements(By.CLASS_NAME, 'quote')

for names, quotes in zip(author_names, author_quotes):
    name = names.text.replace(' ', '-')
    quote = quotes.text
    author_link = f'https://quotes.toscrape.com/author/{name}'

    driver.get(author_link)

    try:
        DOB = driver.find_element(By.CLASS_NAME, 'author-born-date').text
        nationality = driver.find_element(By.CLASS_NAME, 'author-born-location').text
        desc = driver.find_element(By.CLASS_NAME, 'author-description').text

        info_list.append({'Name':name, 'Date of Birth': DOB, 'Nationality':nationality,'Description': desc})
        print('successful')

    except Exception as e:
        print(f"Error fetching details for {name}: {e}")

    driver.back()
    time.sleep(3)

successful
successful
successful
successful
successful
successful
successful
successful
successful
successful

In [22]:
df=pd.DataFrame(info_list)
df.head()

,Name,Date of Birth,Nationality,Description
0,Albert-Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K.-Rowling,,,
2,Albert-Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
3,Jane-Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist whose work...
4,Marilyn-Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Mortenson; Ju...

In [23]:
df.isnull()

    Name  Date of Birth  Nationality  Description
0  False          False        False        False
1  False          False        False        False
2  False          False        False        False
3  False          False        False        False
4  False          False        False        False
5  False          False        False        False
6  False          False        False        False
7  False          False        False        False
8  False          False        False        False
9  False          False        False        False

In [24]:
quotes_scraping_selenium=df.to_csv('quotes_scraping_selenium.csv')
quotes_scraping_selenium